<section class="indexContainer">   
  <h2>Character Backstory Generator</h2>
  <p>This backstory generator is a working demonstration in AngularJS fundamentals. It features a clean modular app design, utilizing webpack to bundle into a singular app.js. Twitter Bootstrap is used for the base of the styling, with overrides written in SCSS. The Angular app utilizes custom controllers, directives, and services.</p>
  <p>The project code can be viewed <a href="http://github.com/haanj/backstoryApp" target="blank">here</a></p>
  <a class="generateButton" href="#/backstory">Generate Story</button>
</section>
