/* Background tile images from subtlepatterns.com */
/* Photographs from unsplash.com */
@import url(https://fonts.googleapis.com/css?family=Lora);
* {
  font-family: 'Lora'; }

body {
  background-color: white;
  background-image: url("../media/ravenna.png"); }

.indexContainer {
  box-sizing: border-box;
  background-color: lightgray;
  border: solid 1px black;
  border-radius: 10px;
  margin: 5vh auto 20vh;
  padding: 2em;
  line-height: 150%;
  width: 100%;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 400px) {
    .indexContainer {
      width: 80%; } }
  @media (min-width: 1000px) {
    .indexContainer {
      width: 40%; } }
  .indexContainer a {
    text-decoration: none; }
    .indexContainer a.generateButton {
      padding: 0.5em;
      color: black;
      border: solid 1px black;
      border-radius: 5px; }

.storyContainer {
  background-color: lightgray;
  border: solid 1px black;
  border-radius: 10px;
  margin: 5vh auto 20vh;
  width: 100%; }
  @media (min-width: 400px) {
    .storyContainer {
      width: 80%; } }
  @media (min-width: 1000px) {
    .storyContainer {
      width: 40%; } }
  .storyContainer div {
    line-height: 10%;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-transform: capitalize; }
  .storyContainer button {
    display: block;
    margin: 0 auto;
    background: inherit;
    border: none; }

header {
  min-height: 40vh;
  background-image: url("../media/bwcastle.jpg");
  background-size: cover;
  background-position: center; }
  @media (min-width: 1000px) {
    header {
      min-height: 45vh; } }
  header .header-container {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.4); }
    @media (min-width: 1000px) {
      header .header-container {
        min-height: 45vh; } }
    header .header-container h1 {
      background-color: black;
      width: 100%;
      text-align: center;
      /*$shadow: rgba(0,0,0,0.4);*/
      margin: 0 auto;
      padding: 0.7em;
      /*text-shadow:  1px  1px $shadow*/
      /*,  1px -1px $shadow*/
      /*, -1px  1px $shadow*/
      /*, -1px -1px $shadow;*/
      color: white; }
